/* Style Settings */
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
:root {
    --bgColor: #582C83;
    --accentColor: #F0B74C;
    --font: 'Ubuntu', serif;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--bgColor);
}

#userPhoto{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 5px solid var(--accentColor);
}

#userName{
    color: #FFF;
	text-shadow: 2px 2px (--accentColor);
    font-size: 1.5rem;
    line-height: 1.25;
    font-family: var(--font);
    width: 100%;
    margin: 30px 0;
    text-align: center;
    text-decoration: none;
}

#links{
    max-width: 675px;
    width: 100%;
}
.link{
    display: block;
    background-color: var(--accentColor);
    color: var(--bgColor);
    font-family: var(--font);
    text-align: center;
    margin-bottom: 30px;
    padding: 13px;
    text-decoration: none;
    font-size: 1.3rem;
	font-weight: bold;
    transition: all .25s cubic-bezier(.08,.59,.29,.99);
    border: solid var(--accentColor) 2px;
    border-radius: 50px;
}

.link:hover{
    background-color: var(--bgColor);
    color: var(--accentColor);
}

.footer {
    color: #FFF;
    font-size: 1.3rem;
}